* {
	font-family: monospace;
	font-size: 10px;
	font-weight: 600;
	min-height: 0;

	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	transition: none;
}

window#waybar {
	background: #0f1714;
	color: #c8c2b8;
}

/* Workspaces */

#workspaces {
	padding: 0 4px;
}

#workspaces button {
	padding: 0 6px;
	margin: 2px;

	background: transparent;
	color: #c8c2b8;
}

#workspaces button:hover {
	background: #c8c2b8;
	color: #0f1714;
}

#workspaces button.active {
	background: #c8c2b8;
	color: #0f1714;
}

#workspaces button.occupied {
	color: #9fa79c;
}

#workspaces button.urgent {
	background: #666600;
	color: #0f1714;
}

/* Tray */

#tray {
	padding: 0 6px;
}

/* Clock */

#clock {
	padding: 0 10px;
	color: #c8c2b8;
}

/* Audio */

#pulseaudio {
	padding: 0 6px;
	color: #c8c2b8;
}

/* Backlight */

#backlight {
	padding: 0 6px;
	color: #c8c2b8;
}
